@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patua+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


h1 {
    text-align: center;
    background-color: #2B4931;
    margin-bottom: 10px;
    font-size: 500%;
    color: #ebebeb;
    padding: 40px;
    font-style: italic;
    font-family: Roboto;
    margin-right: 11%;
}

nav {
    text-align: center;
    margin-bottom: 60px;
    background-color: #2B4931;
    font-size: 180%;
    color: #ebebeb;
    font-style: italic;
    padding: 5px;
    font-family: Open Sans;
}

main {
    width: 92%;
    /* margin: auto; */
    color: #ebebeb;
    font-style: italic;
    padding: 10px;
}

body {
    background-color: #778274;
}

h2 {
    background-color: #2B4931;
    padding: 10px;
    font-size: 260%;
    margin-bottom: -9px;
    font-family: Roboto;
}

p {
    background-color: #395639;
    font-size: 150%;
    padding: 20px;
    font-family: Open Sans;
}

footer h2 {
    color: #ebebeb;
    text-align: center;
    font-style: italic;
    font-family: Roboto;
    font-size: 20px;
}

aside h2 {
    color: #ebebeb;
    text-align: center;
    size: 50px;
    margin-top: 160px;
}

aside {
    margin-top: 43px;
    background-color: #2B4931;
    background-image: url('finalgrass.png');
    background-position: bottom;
    background-repeat: repeat-x;
    text-align: center;
    font-style: italic;
    margin-left: -60px;
    margin-right: 10px;
    margin-bottom: 16px;
}

header {
    background-color: #2B4931;
}

header img {
    float: left;
    vertical-align: middle;
    height: 70%;
    margin-top: 2.3%;
    margin-left: 5.5%;
    max-width: none;
}

main img {
    width: 98.5%;
    border-style:solid;
    border-width: 5px;
    border-color: #395639;
    background: #395639;
    padding: 5px;
}

nav a {
    color: #ebebeb;
    text-decoration: none;
}